services:

  postgres:
    build: .
    container_name: url-container
    ports:
      - "5433:5432"
    env_file:
      - postgres.env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - app_network

  url-shortener:
    build: cmd/url-shortener
    container_name: url-shortener
    ports:
      - "8080:8080"
    env_file:
      - cmd/url-shortener/url-shortener.env
    depends_on:
      - postgres
    networks:
      - app_network

networks:
  app_network:

volumes:
  pg_data: